doctype html
html
  head

    script. 
      window.demo = window.demo || {};
      window.demo.config = !{demo.config ? JSON.stringify(demo.config) : '{}'};
      window.demo.markup = '!{demo.markup ? demo.markup : ''}';

      
    script(type="text/javascript" src="/repo.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

  body

    script.
      window.pie = window.pie || {};
      window.pie.org = '!{org}';
      window.pie.repo = '!{repo}';

    avatar-service(url-template=config.avatarUrl)
    catalog-container
      catalog-entry
        catalog-demo 
    script.
      //Note: we want to load these scripts synchronously to ensure the load order, but we dont want to block document rendering.
      let scripts = !{js ? JSON.stringify(js) : '[]'};
      scripts.push('!{demo.js}');
      scripts.forEach(function(src) {
        let script = document.createElement('script');
        script.src = src;
        script.async = false;
        document.head.appendChild(script);
      }); 
