include ./mixins

doctype html
html
  head
    +pre_defined

    script. 
      window.demo = window.demo || {};
      window.demo.config = !{demo.config ? JSON.stringify(demo.config) : '{}'};
      window.demo.markup = '!{demo.markup ? demo.markup : ''}';
      window.demo.configureMap = !{demo.configureMap ? JSON.stringify(demo.configureMap) : 'undefined'};
      
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

  body

    script.
      window.pie = window.pie || {};
      window.pie.org = '!{org}';
      window.pie.repo = '!{repo}';
      window.pie.name = '!{name}'

    avatar-service(url-template=config.avatarUrl)
    catalog-container
      span(slot="header")
        | pie catalog
      catalog-entry
        catalog-demo 
    // #{js}
    +polyfill(['/repo.js'].concat(js || []).concat(demo.js))
