include ./mixins

doctype html
html
  head
    style.
      body{
        margin: 0;
        padding: 0;
      }
    script. 
      window.demo = window.demo || {};
      window.demo.config = !{demo.config ? JSON.stringify(demo.config) : '{}'};
      window.demo.markup = '!{demo.markup ? demo.markup : ''}';

      
    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet")

  body

    script.
      window.pie = window.pie || {};
      window.pie.org = '!{org}';
      window.pie.repo = '!{repo}';

    avatar-service(url-template=config.avatarUrl)
    catalog-container
      catalog-entry
        catalog-demo 

    +polyfill(['/repo.js'].concat(js || []).concat(demo.js))
